.studentPastRecord{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}
.studentPastRecordHeader{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom:5px;
    padding-top:5px;
    border-bottom:2px solid rgb(74, 94, 204);
}
.stuDetails{
    margin-left:40px;
}
.stuDetails p{ 
    font-size:20px;
    font-weight:bold;
    color:rgb(11, 44, 232);
}
.stuDetails span{
    font-size:15px;
    font-weight:bold;
    color:rgb(74, 94, 204);
}
.attendancePercentage{
    margin-right:40px;
    width:250px;
    height:40px;
    background-color:rgb(74, 94, 204);
   display:flex;
   flex-direction:row;
   gap:10px;
   justify-content:center;
   align-items:center;
   font-size:20px;
   border-radius:5px;
   color:white;
   font-weight:bold;
}
.studentPastRecordBody{
    margin-top:10px;
    width:95%;
    height:600px;
    border:2px solid rgb(74, 94, 204);
    display:flex;
    flex-direction:column;
    gap:5px;
    font-size:25px;
    font-weight:bold;
    overflow-y:scroll;
}
.recordsAttribute{
    width:100%;
    display:flex;
    gap:5px;
}
.recordsAttribute div{
    width:33.33%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:10px;
    background-color: rgb(74, 94, 204);
    color:white;
}
.records{
    width:100%;
    display:flex;
    gap:5px;
}
.records div{
    width:33.33%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:10px;
    background-color: rgba(74, 94, 204, 0.22);
}
.present{
    color:green;
}
.absent{
    color:red;
}
/* filed form Teacher update fileds */
.alpha{
    width:30px;
    height:30px;
    border-radius:2px;
    border:1px solid black;
}
.teacherUpdateSub1{
    padding:10px;
    display:flex;
    align-items:center;
    gap:10px;
}
.teacherUpdateSub1 p{
    font-size:30px;
    font-weight:bold;
    color:rgb(74, 94, 204);
}
.teacherUpdateSub1 span{
    font-size:20px;
    font-weight:bold;
    color:black;
}
@media (max-width:640px){
    .studentPastRecordHeader{
        flex-direction:column;
        align-items:start;
        padding-left:20px;
        gap:10px;
    }
    .stuDetails{
        margin-left:0;  
    }
    .attendancePercentage{
        width:95%;
        margin-right:0;
    }   
}