.subClassWrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:5px;
    background-color:rgba(0, 255, 255, 0.332);
}
.listContainer{
    width:300px;
    list-style-type:upper-latin;
}
.subdiv{
    width:90%;
    display:flex;
    gap:10px;
    justify-content:space-evenly;
}
.subdiv p{
    font-weight:bold;
    font-size:25px;
}